<div id="indexSearch">

  <div id="postField">


  <div style="clear:both">


  <table>
          

          <div id="contact_title"><%= @myobject.experience.school %></div>
            
          

   </tr>


      

<%@count=0%>

    <% @allusers.each do |user| %>

   <% if user.experience && user.experience.school==@myobject.experience.school %>
    
    <%@count=@count+1%>
    
    <div  class="addition alumni-work" >  

<%if user.image.length !=0 %>
<%= image_tag user.image_url(:postpic).to_s , :class=>"floatL userPicture"%>
<%else%>
  <div class="floatL userPicture"></div>  
<%end%>

      

      <div class="floatL userName"><%= user.first_name %> <%= user.last_name %> &nbsp;&nbsp;&nbsp;</div>

      

      <div class=" userName"><%= user.experience.school %> </div>

      <div class=" userName"><%= user.experience.country %></div>


    </div>

   </tr>


    
      <% end %>

      <% end %>


      <% if @count ==0%>
<div class=" userName">No Alumini found </div>

      <% end %>





  </table>

    
  </div>
