  <<div class="people">
     <img src="../images/people.png  "></img> 
  </div>
    <div class="add1">
    <img src="../images/ads.png"></img> 
  </div>
  <div class="add2">
     <img src="../images/ads1.png  "></img> 
  </div>

  <div id="indexSearch1">
    <!-- <div id="newsfeed"> -->

  <div id="postField">

<%if current_user.image.length !=0 %>
<%= image_tag current_user.image_url(:postpic).to_s,:class=>"userPicture floatL"%>
<%else%>
  <div class="userPicture floatL">
  </div>
<%end%>

  <link href="/stylesheets/liveurl.css" rel="stylesheet">


 <%= form_for :post,:url=>{:action=>"addPost"} ,:html=>{:multipart=>true}  do |f| %>

     <%= text_field_tag(:postText ,nil,{ :autocomplete => :off,id:"status",class:"statusField", :placeholder => "Share an update...", }) %>
     




        

 <div id="attach">

    <%=f.file_field :image ,:class=>"atch" %>
    </div>
    
    <div style="clear:both">





<input id="trial3" type="hidden" name="weburl" value= "" method="post">




  <div class="liveurl-loader"></div>
        
        <div class="liveurl">
            <div class="close" title="Entfernen"></div>
            <div class="inner">
                <div class="image"> </div>
                <div class="details">
                    <div class="info">
                        <div id="urltitle"class="title"> 

                        </div>
                        <div class="description"> </div> 
                        <div class="url"> </div>
                    </div>

                    <div class="thumbnail">
                        <div class="pictures">
                            <div class="controls">
                                <div class="prev button inactive"></div>
                                <div class="next button inactive"></div>
                                <div class="count">
                                    <span class="current">0</span><span> von </span><span class="max">0</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="video"></div>
                </div>

            </div>
        </div>

            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js" > </script>

      
  <%= javascript_include_tag "jquery.liveurl.js" %>

   
    <%= select_tag :share, options_for_select([ ['Public', 2], ['Connections', 3]]), 
    {:class =>"statusSelect"} %>

    <%= submit_tag("Share" , class: "shareButton" ) %>
  <% end %>

  
  </div>

  <div style="">


  <% if(@posts.present? ) %>

  <table>
    <% @posts.each do |post| %>

    <div  class="addition" >  


<%if post.user.image.length !=0 %>
<%= image_tag post.user.image_url(:postpic).to_s , :class=>"floatL userPicture"%>
<%else%>
  <div class="floatL userPicture"></div>  
<%end%>

  	  
    	<div class="floatL userName">
 <%= post.user.first_name %> <%= post.user.last_name %>   <!--  #change -->
      <br>
      <p class="postedText" id="status">
  		<%= post.text %>



<% if post.url.size >0%>
<a class="embedly-card" href=<%=post.url%>> </a>
<script>!function(a){var b="embedly-platform",c="script";if(!a.getElementById(b)){var d=a.createElement(c);d.id=b,d.src=("https:"===document.location.protocol?"https":"http")+"://cdn.embedly.com/widgets/platform.js";var e=document.getElementsByTagName(c)[0];e.parentNode.insertBefore(d,e)}}(document);</script>

<%end%>





  	</p></br>
    <%if post.image.size >0%>
<%= image_tag post.image_url(:postattachpic) %>

<%end%>
  	</div>
  <div style="clear:both">
  	<div style=" padding-left: 55px; ">
  	
  	<ul id="test">
              
  <% @not_liked=1%> 

  <% post.likes.each do |like|  %>
  <% @not_liked=0 if like.userid==current_user.id %>   <!-- current user id is used as 1 -->
  <% end %>

        <p >
                
  <%= post.likes.size if post.likes.size > 0 %> 




  

  


<% if @not_liked ==0 %>
<a href="#" value="" id="comment" class="comment_like">Like</a>
<%else %>
<%= link_to_if(@not_liked , "Like", {action: "like", id:post.id},{:class=>"comment_like"}) %>

<%end%>

 
              
      			<a href="#" value="" id="comment" class="comment_like" >Comment</a>
              <%= link_to("Share", {action: "share_post", id:post.id},{:class=>"comment_like"}) %>


            <%= ((post.created_at - Time.now).to_i.abs)/60%><a href="#" value="" id="comment" class="comment_like" > min ago</a>
               </p>

       </ul>
      
  	
  </div>

               <div class="commentBox">

 


  <% post.comments.each do |comment|  %> 
   <div class="comments">
   <%if comment.user.image.length !=0 %>
<%= image_tag comment.user.image_url(:commentpic).to_s%>
<%else%>
 <span id="user_comment"></span>
<%end%>
<span class="comment_name">
 <%=  comment.user.first_name %> <%= comment.user.last_name %>  <!-- change -->
</span>
<span class="comment_data">
  <%= comment.comment %>
</span>

  <br>
</div>
  <% end %>

  




  <%= form_tag({controller: "search", action: "addComment"}, method: "post") do %>

    <%= text_field_tag(:commentText ,nil,{ class:"commentField", :placeholder => "Enter comment here...", }) %>
    <%= hidden_field_tag(:parent_id,  post.id ) %>

    <%= submit_tag("Comment" , class: "commentButton" , :name => "post[#{post.id}]" ) %>
  <% end %>


   </div>


  	<div style="clear:both">


  </div>

   </tr>
      
      

    <% end %>
  </table>

    <% end %>
  </div>

  
  